.tudo {
    background-color: rgb(224, 193, 253);
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(206, 155, 255);
}

.gallery img {
    max-width: 200px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.1);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.modal img {
    width: 100%;
    height: auto;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.next {
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    transform: translateY(-50%);
}
